<!DOCTYPE HTML>
<html>

<head>
	<title>Password strength checker in jQuery</title>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Open+Sans+Condensed:300|Raleway' rel='stylesheet'
		type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='cssfile.css') }}" />
	<!--<script src="{{ url_for('static', filename='js/passwword.js') }}"></script>-->
    <script src="{{ url_for('static', filename='Clustering(KMeans).py') }}"></script>
</head>
<body>

	<div id="content">
		<form id="register" method = "POST">
			<body>
				<div id="login-box">
					<div class="left-box">
						<h1>Sign Up</h1>
						<form action="" , method="POST">
							<input type="text" placeholder="Username" name="Username" value="">
							<input type="text" placeholder="email" name="email" value="">
							<input name="password" id="password" type="password" placeholder="Password ">&nbsp;&nbsp;
							<span id="result"></span>


							<div><center>{{ password_res }}</center></div>


							<input type="submit" name="signup-button" value="submit">
						</form>
					</div>
					<div class="right-box">
						<span class="signwith">Sign-in with<br />Social Network</span>
						<button class="social facebook">Login with Facebook</button>
						<button class="social twitter">Login with Twitter</button>
						<button class="social google">Login with Google</button>
					</div>
					<div class="or">OR</div>

				</div>
			</body>


		</form>
	</div>
</body>

</html>